@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "League Spartan", sans-serif;
  }
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: hsl(180, 31%, 95%);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.custom-hover-effect:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 1px;
  background-color: hsl(180, 29%, 50%);
  animation: spread-out 180ms ease-in-out forwards;
}

@keyframes spread-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

::-webkit-scrollbar {
  display: none;
}
